PORT=3000

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=testdb
DB_DIALECT=postgres

JW_SECRET=your-very-secure-secret-key

SESSION_SECRET=your-secure-session-secret-key

URL_FRONTEND=http://localhost:5174

OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=
OIDC_POST_LOGOUT_REDIRECT_URI=
OIDC_SCOPE=